<html>
<head>
 <title>Kahuna Settings</title>
</head>
<body>
 <h4 style="color:blue"> Big Kahuna Settings </h4>
 <form name="Settings" action="settings" method="get">
 <table>
<tr><td align="right"> Dataset Name : <td align="left"> <input type="text" name="dataset" value={{ dataset_name }}><br>
<tr><td align="right"> Number of Items in Cache :<td align="left"> <input type="text" name="no_cache" value={{ no_items }}><br>
<tr><td align="right"> Type of Workflow : <td align="left"> <input type="text" name="workflow_type" value={{ workflow_type }}> <i>gears / pure</i><br>

<tr colspan="2"><td align="center"> <input type="submit" name="submit" value="Submit">
</table>
</form>
</body>
</html>